body {
    font-family: 'Rubik', sans-serif;
}

h1{
    font-size: 30px;
}
form {

    width: 100%;
  
    max-width: 400px;
  
    text-align: center;
  
    border: solid 1px lightpink;
  
    padding-bottom: 10px;
  
    margin: auto;
  
    background: lightpink;
  
  }
input {
    height: 20px;    
    width: 80px;
    font-size: 1rem;
}

button {
    height: 35px;    
    width: 42px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    color: grey;
    background-color: lightgray;
    text-align: center;
}

.doble button {
    height: 35px;    
    width: 88px;
    font-size: 11px;
    font-weight: bold;
}

.triple button {
    height: 35px;    
    width: 56px;
    font-size: 0.7rem;
    font-weight: bold;
}

#resultado {
    height: 20px;
    width: 170px;
    font-size: 1rem;
}